


<h1><%= @idea.name %></h1>

<p><%= @idea.description %></p>

<p><%= @idea.user_id %></p>

<p><%=  @idea.category_id ?  Category.find(@idea.category_id).name : "no category selected" %></p>

<p><%= link_to "back to your temple of stupidity", @idea.user %></p>


